.container {
    display: flex;
    flex-direction: row;
    margin: 0rem 1rem;
}

.inputForm select {
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    width: 130px;
}
